@charset "UTF-8";
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.wrapper{
  width: 400px;
	margin: 0 auto;
}

.header{
  background-color: #141f40;
  height: 100px;
  position: relative;
}

.header-box {
  position:absolute; top:20px; right: 20px;
  background-color: #fff;
  display: block;
  width: 160px;
  height: 60px;
  padding: 10px;
}

.boxA {
  width: 40px;
  height: 40px;
  background-color: #a9004b;
  margin-left: 10px;
  float: left;
}

.boxA:first-child {
  margin-left: 0px;
}

.left {
	float: left;
	width: 150px;
	height: 250px;
	background-color: #80bfa8;
}

.right {
	float: right;
	width: 250px;
	height: 250px;
  background-color: #8c2727;
  position:relative;
}

.BOXB {
  position: absolute; top:40px; left:40px;
}

.boxB {
  box-sizing: border-box;
  width: 140px;
  height: 50px;
  border: 5px solid #fff;
  background: #ff863f;
  margin-bottom: 10px;
}

.bottom{
  height: 100px;
	background-color: #d98d30;
}