@charset "UTF-8";

.wrapper {
  width: 60%;
  min-width: 750px;
  padding: 1%;
}

.top {
  background-color: #ff1a6f;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.circle {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  float: left;
}

.top-square {
  background-color: #fff;
  width:30%;
	height:60px;
  border-radius: 9px;
  float: right;
}

.content {
  background-color: #EEEEEE;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
}

.set {
  display: flex;
  margin-top: 20px;
}

.right-square {
  background-color: #fff;
  margin-left: 20px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  width:60%;
  height:auto;
  padding-bottom: 30%;
}

.left-square {
  background-color: #CCCCCC;
  display: block;
  border-radius: 9px;
  margin-left: 30px;
  width:15%;
  height: 30px;
  padding-bottom: 15%;
}

.fotter {
  background-color: #000055;
  height: 70px;
}