@charset "UTF-8";

.wrapper {
background-color: #EEEEEE;
}

.top {
  background-color: #ff8c00;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.top-square {
  background-color: #fff;
  width: 100px;
  height: 40px;
  border-radius: 9px;
}

.circle {
  background-color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.circle:first-child {
  margin-right: 20px;
}

.set {
  display: flex;
  justify-content: space-around;
}


.content {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
}

.A {
  background-color: #fff;
  width: 130px;
  height: 130px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  margin: 5px;
}

.fotter {
  background-color: #000055;
  height: 70px;
}