@charset "UTF-8";

.wrapper {
  width: 750px;
}

.top {
  background-color: #ff8c00;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.top-square {
  background-color: #fff;
  width: 150px;
  height: 60px;
  border-radius: 9px;
}

.set {
  display: flex;
  justify-content: space-end;
}

.circle {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.circle:first-child {
  margin-right: 30px;
}

.content {
  background-color: #EEEEEE;
  padding: 60px 40px;
  display: flex;
  flex-wrap: wrap; wrap;
}

.A {
  background-color: #fff;
  width: 200px;
  height: 200px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.fotter {
  background-color: #000055;
  height: 70px;
}