@charset "UTF-8";

.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  height: 80px;
  background-color: #FFFAF0;
  width: 100%;
}

.nav-list {
  display: flex;
}

.nav-link {
  margin-left: 30px;
  color: #292929;
  font-size: 3vh;
}

.nav-link :first-child {
  margin-left: 0px;
}

.main {
  background-color: #FAEBD7;
}

.content {
  display: flex;
  justify-content: space-around;
}

.pic {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pic-list{
  margin-bottom: 10px;
}

.content-tittle {
  text-align: center;
  font-size: 7vh;
  color: #666;
  padding: 90px;
  opacity: 0.8;
}

.content-left {
  width: 70%;
  margin: 50px;
}

.content-right {
  width: 30%;
  margin: 50px;
}

.tittle {
  padding-left: 10px;
  border-left: solid 10px #FF82B2;
  display: flex;
  font-size: 6vh;
  color: #666;
  margin: 20px 0;
}

.paragraph {
  line-height: 1.5;
  font-size: 3vh;
  color: #666;
  opacity: 0.8;
}

.fotter {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.fotter-out {
  padding: 10px;
  margin-bottom: 30px;
  width: 200px;
  background-color: #5D99FF;
  border: 2px #fff;
}

.footer-in {
  border: 1px solid #fff;
  padding: 10px;
}

.fotter-tittle {
  color: #fff;
  text-align: center;
  opacity: 0.8;
}