@charset "UTF-8";

.wrapper {
  width: 2000px;
  background-color: #FFFAF0;
  font-weight: 600;
}

.header {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  font-size: 30px;
  display: flex;
  font-weight: lighter;
  opacity: 0.8;
}

.nav-link {
  margin-left: 40px;
}

.content {
  background-color: #FAEBD7;
}

.A {
  display: flex;
  justify-content: space-around;
}

.pic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pic > li:nth-child(n + 4) {
  margin-top: 10px;
}

.content-tittle {
  text-align: center;
  font-size: 50px;
  color: #666;
  padding: 90px;
  opacity: 0.8;
}

.content-left {
  width: 1500px;
  margin: 50px;
}

.content-right {
  width: 500px;
  margin: 50px;
}

.tittle {
  padding-left: 20px;
  border-left: solid 10px #FF82B2;
  display: flex;
  font-size: 50px;
  color: #666;
  margin: 40px;
  opacity: 0.8;
}

.paragraph {
  line-height: 1.5;
  font-size: 30px;
  color: #666;
  opacity: 0.8;
}

.fotter {
  display: flex;
  justify-content: center;
}

.fotter-out {
  padding: 10px;
  margin: 30px;
  width: 300px;
  height: 70px;
  background-color: #5D99FF;
  border: 2px #fff;
}

.footer-in {
  border: 1px solid #fff;
  padding: 10px;
}

.fotter-text {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: 5px;
  opacity: 0.8;
}
