.wrapper{
  width: 400px;
	margin: 0 auto;
}


.header{
  background-color: #141f40;
  /* width: 400px; */
  height: 100px;

}

.left {
	float: left;
	width: 150px;
	height: 250px;
	background: #80bfa8;
}

.right {
	float: right;
	width: 250px;
	height: 250px;
	background: #8c2727;	
}

.bottom{
  /* width: 400px; */
  height: 100px;
	background: #d98d30;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}