@charset "UTF-8";

/* clearfix用 */
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* ここから書く */

.main{
  width: 100vw;
  height: 100vh;
}
.box{
  width: 400px;
  height: 450px;
  margin: auto;
}
.top{
  background-color: #141f40;
  height: 100px;
}
.left{
  background-color:#80bfa8;
  width: 150px;
  height: 250px;
  float: left;
}
.right{
  background-color:#8c2727;
  width: 250px;
  height: 250px;
  float: right;
}
.bottom{
  background-color: #d98d30;
  height: 100px;
}